@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&display=swap");

:root {
  --button-height: 8px;
}

body {
  overflow: clip;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

button {
  all: unset;
}

#glcanvas {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#countdown {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#countdown-text {
  font-size: 100px;
  font-weight: 900;
  background: linear-gradient(#224, #779);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;
}

#score {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;

  @media screen and (min-height: 720px) {
    top: 20px;
  }
}


#score-text {
  font-size: 120px;
  font-weight: 900;
  margin: 0;
  background: linear-gradient(#224, #6c6cb3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  @media screen and (max-height: 500px) {
    font-size: 90px;
  }
}


#result {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background: #222244e0;
  backdrop-filter: blur(10px);
  z-index: 9999999;
}

#result-score-prefix {
  font-size: 10vh;
  margin: 0;
  color: rgba(200 200 255 / 50%);
}

#result-score-text {
  font-size: 35vh;
  font-weight: 900;
  margin: 0;
  background: rgba(200 200 255 / 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#button-container {
  align-items: bottom;
  gap: 20px;

  @media screen and (max-height: 500px) {
    bottom: 10px;
  }
}

.button {
  font-family: Montserrat, sans-serif;
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: 900;
  background: rgb(63 63 63);
  border-radius: 50%;
  border: none;
  color: white;

  @media screen and (max-height: 450px) {
    width: 80px;
    height: 80px;
    font-size: 50px;
  }
}

.is-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-red {
  background: #ff0060;
  box-shadow: 0 var(--button-height) 0 #a0003d;
}

#button-red:active {
  box-shadow: none;
  transform: translateY(var(--button-height));
}

#button-yellow {
  background: #dee42c;
  box-shadow: 0 var(--button-height) 0 #989c18;
}

#button-yellow:active {
  box-shadow: none;
  transform: translateY(var(--button-height));
}

#button-green {
  background: #00dfa2;
  box-shadow: 0 var(--button-height) 0 #00976f;
}

#button-green:active {
  box-shadow: none;
  transform: translateY(var(--button-height));
}

#button-blue {
  background: #0079ff;
  box-shadow: 0 var(--button-height) 0 #0052b1;
}

#button-blue:active {
  box-shadow: none;
  transform: translateY(var(--button-height));
}

#fullscreen-switch {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background: #1e1e36dd;
  border: none;
}

.bottom-container {
  position: absolute;
  width: 100vw;
  bottom: 10vh;
}

#retry-button {
  position: absolute;
  bottom: 0;
  width: 50vw;
  text-align: center;
  background: #224;
  font-size: 50px;
  color: white;
  padding: 5vh 0;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 100ms;

  @media screen and (max-height: 500px) {
    padding: 5vh 0;
    font-size: 30px;
  }
}

#retry-button:hover {
  background: white;
  color: #224;

}

.countdown-fadein {
  animation: countdown-fadein 0.2s;
}

.countdown-fadeout {
  animation: countdown-fadeout 0.2s;
}

.top-ui-appear {
  animation: top-ui-appear 0.4s;
}

.bottom-ui-appear {
  animation: bottom-ui-appear 0.4s;
}

.top-ui-hide {
  animation: top-ui-hide 0.4s;
}

.bottom-ui-hide {
  animation: bottom-ui-hide 0.4s;
}

.result-ui-appear {
  animation: result-ui-appear 0.4s;
}

.result-ui-hide {
  animation: result-ui-hide 0.4s;
}

.is-hidden {
  display: none !important;
  opacity: 0;
}

.is-flex-center {
  display: flex;
  justify-content: center;
}

@keyframes countdown-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes countdown-fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes top-ui-appear {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes bottom-ui-appear {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes top-ui-hide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-200px);
  }
}

@keyframes bottom-ui-hide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(200px);
  }
}

@keyframes result-ui-appear {
  from {
    transform: translateX(-50vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes result-ui-hide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50vw);
  }
}
